# database
MYSQL_HOST = "localhost"
MYSQL_USER = "labstats"
MYSQL_PASSWORD = "labstats"
MYSQL_DB = "labstats"

# stat collection
# timeout in minutes for when a host should be considered dead
# (if we don't receive an update within X minutes, end any open sessions)
HOST_TIMEOUT = 3
